name: Update README
on:
  schedule:
    - cron: '0 */24 * * *'
  workflow_dispatch:
permissions:
  contents: write

jobs:
  waka-time:
    name: Update WakaTime
    runs-on: ubuntu-latest
    environment: 
        name: production
    permissions:
        contents: write
    steps:
        - uses: anmol098/waka-readme-stats@master
          with:
            WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
            GH_TOKEN: ${{ secrets.GH_TOKEN }}
            COMMIT_BY_ME: False
            # SHOW_LINES_OF_CODE: True
            SHOW_TOTAL_CODE_TIME: False
            SHOW_PROFILE_VIEWS: False
            SHOW_COMMIT: True
            SHOW_DAYS_OF_WEEK: False
            SHOW_LANGUAGE: True
            SHOW_OS: True
            # SHOW_PROJECTS: False
            SHOW_TIMEZONE: True
            SHOW_EDITORS: True
            SHOW_LANGUAGE_PER_REPO: True
            SHOW_SHORT_INFO: False
            SHOW_LOC_CHART: False
            SHOW_UPDATED_DATE: False
            # COMMIT_USERNAME: notbowen
            # COMMIT_EMAIL: contact@hubowen.dev
            COMMIT_MESSAGE: WakaTime update

# Modified from: https://github.com/jiayuqi7813/jiayuqi7813/blob/109f77e6feb5bee886a9109c09831cf5949b891d/.github/workflows/blog-post-workflow.yml
